<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Track7</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/img/hero/home3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Nunito Sans', sans-serif;
}
        .login-part {
            width: 430px;
            height: 700px;
            background-color: #ecf0f3;
            padding: 60px 35px 35px 35px;
            border-radius: 40px;
            /* box-shadow: 13px 13px 20px #aba8a8, -13px -13px 20px #b1b0b0; */
        }
        /* .logo {
            background: url('https://raw.githubusercontent.com/springtofigh/neumorphism-login/refs/heads/main/logo.jpg');
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #afaaa7, -8px -8px 15px #fff;
        } */
        .title {
            text-align: center;
            font-size: 28px;
            padding-top: 24px;
        }
        .fields {
            width: 100%;
            padding: 75px 5px 5px 5px;
        }
        .fields input {
            border: none;
            outline: none;
            background: none;
            font-size: 18px;
            padding: 20px 10px 20px 5px;
        }
        .username, .password {
            margin-bottom: 30px;
            box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #fff;
            border-radius: 25px;
        }
        .svg-icon {
            height: 22px;
            margin: 0 10px -4px 25px;
        }
        .login-button {
            width: 100%;
            height: 60px;
            border: none;
            cursor: pointer;
            background: #000000;
            color: #fff;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 700;
            box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
            transition: all .4s ease-in;
        }
        .login-button:hover {
            background: #dbde0f;
            font-size: 25px;
        }
        .link {
            padding-top: 20px;
            text-align: center;
        }
        .link a {
            text-decoration: none;
            color: #aaa;
        }

        .error-message {
          color: red;
          font-size: 13px;
          margin-left: 20px;
          margin-top: -10px;
          margin-bottom: 10px;
          display: none;
          font-weight: 600;
        }
        .server-error-message {
          color: rgb(67, 8, 8);
          text-align: center;
          margin-bottom: 15px;
          font-weight: 600;
          background-color: #a1a1a1;
          padding: 10px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 10px;
        }


  .social-btns{
    text-align: center;
    margin-top: 10px;

  }

  .social-btns .btn{
    background-color: rgb(209, 209, 227) !important;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0px;
  }

  .social-btns .btn:hover{
    background-color: rgb(255, 255, 255) !important;
    color:black;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0px;
  }

    </style>
</head>
<body>
    <form id="loginform" class="login-part" method="post" action="/login">
        <!-- <div class="logo"></div> -->
         <% if (typeof message !== "undefined" && message) { %>
         <div class="server-error-message"><%= message %></div>
         <% } %>

        <div class="title">Log In</div>
        <div class="fields">
            <div class="username">
              <svg class="svg-icon" viewBox="0 0 20 20">...</svg>
              <input type="email" name="email" id="email" placeholder="Enter email">
              <div id="error1" class="error-message"></div>
            </div>
            
            <div class="password">
              <svg class="svg-icon" viewBox="0 0 20 20">...</svg>
              <input type="password" name="password" id="password" placeholder="Password">
              <div id="error2" class="error-message"></div>
            </div>

        </div>
        <button type="submit" class="login-button">Log In</button>
        <div class="social-btns">
          <a href="/auth/google" class="btn">
            <img
              src="img/Google-Symbol.jpg"
              alt="Google Logo"
              style="width: 35px; height: 20px"
            />  
            Google
          </a>
        </div>
        <div class="link">
            <a href="/forgot-password">Forgot password?</a> or <a href="/signup">Sign up</a>
        </div>
    </form>
    <script>
        const emailid = document.getElementById("email");
        const passid = document.getElementById("password");
        const error1 = document.getElementById("error1");
        const error2 = document.getElementById("error2");
        const loginform = document.getElementById("loginform");
        
        function emailValidateChecking() {
            const emailval = emailid.value;
            const emailpattern = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;
            if (!emailpattern.test(emailval)) {
                error1.style.display = "block";
                error1.innerHTML = "Invalid Format";
            } else {
                error1.style.display = "none";
                error1.innerHTML = "";
            }
        }
        
        function passValidateChecking() {
            const passval = passid.value;
            if (passval.length < 8) {
                error2.style.display = "block";
                error2.innerHTML = "Should contain at least 8 characters";
            } else {
                error2.style.display = "none";
                error2.innerHTML = "";
            }
        }
loginform.addEventListener("submit", function (e) {
    let valid = true;

    const emailval = emailid.value.trim();
    const emailpattern = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;

    if (!emailpattern.test(emailval)) {
        error1.style.display = "block";
        error1.innerText = "Please enter a valid email address (e.g., abc@example.com)";
        valid = false;
    } else {
        error1.style.display = "none";
        error1.innerText = "";
    }

    const passval = passid.value;
    if (passval.length < 8) {
        error2.style.display = "block";
        error2.innerText = "Password must be at least 8 characters long";
        valid = false;
    } else {
        error2.style.display = "none";
        error2.innerText = "";
    }

    if (!valid) {
        e.preventDefault();
    }
});


            
    </script>
</body>
</html>
